* {
    box-sizing: border-box;
}

.start-field {
    position: relative;
    display: flex;
}

.letter {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.selected {
    color: red;
}